.principalDiv{
    margin-left: 13vw;
    margin-right: 13vw;
    height: 100vh;
}

.centralDiv {
    height: 100vh;
    margin-left: 10vw !important;
}
.marginCD{
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 768px){
    .allPage{
        width: 100vw;
        margin-left: 0;
        margin-bottom: 15%;
    }
    .centralDiv{
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100vw;
        height: 100vh;
        margin-bottom: 4rem;
    }
    .marginCD{
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 1450px) and (min-width:768px) {
    .allPage{
        margin-left: 7%;
    }
}


.sameWidth{
    display: flex;
    flex: 1 1 0px;
}