@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    /*
    border: solid red 1px;
    */
}

body {
    --sfondo: #ADD9F4;
    --lineaSeparazione: #F3F4F3;
    --activeBtn: rgb(63 131 248);
    --normalBtn: rgba(35, 87, 137, 0.52);
    --text-button: white;
    --bg-toast-success: green;
    --bg-toast-failure: red;
    margin: 0;
      /*
      background: var(--sfondo);
      */
}

.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.quotaCounter {
    position: relative;
    right: 0;
    transition: transform 0.2s ease-in-out;
}

.quotaCounter.active {
    transform: translateX(-10px) rotate(-0.8deg);
}

.button, .button-warning {
    background: var(--activeBtn);
    border-radius: 0.45rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--text-button);
    width: fit-content;
    height: fit-content;
}

.button-warning {
    background-color: rgb(200 30 30);
}

/* Per i bottoni acquista e filtra */
.button-action, .button-submit, .button-delete {
    background: var(--activeBtn);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--text-button);
    border-radius: 0.75rem;
    width: 100%;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
}

.button-submit {
    background-color: transparent;
    color: rgb(26 86 219);
    border-color: rgb(63 131 248);
}

.button-submit:hover, .button-submit:active {
    background-color: rgb(63 131 248);
    color: var(--text-button);
    border-color: transparent;
}

.button-delete {
    background-color: rgb(200 30 30);
}

.toast, .toast-success, .toast-failure {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1.5rem;
    border-radius: 0.5em;
    opacity: 0.99;
    width: 80vw;
    color: white;

}

.toast-success {
    background-color: var(--bg-toast-success);
}

.toast-failure {
    background-color: var(--bg-toast-failure);
}

/* Computer */
@media (min-width: 768px) {
    .button-action, .button-submit, .button-delete {
        max-width: 12rem;
        align-self: center;
    }
}