<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <button onclick="window.location.href='/login'">Login</button>
    <button onclick="window.location.href='/register'"">Register</button>
</body>
</html>