::placeholder{
    color: white;
    opacity: 1;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}


th {
    background-color: steelblue !important;
}


td {
    width: 20vw;
    height: 15vh
}
