::placeholder{
    color: white;
    opacity: 1;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

body {
    background-color: #333333;
}

#div1 {
    background-color: #333333;
}

th {
    background-color: steelblue !important;
}


td {
    width: 20vw;
    height: 10vh;
}
