.reactionButtons {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.message {
    border: solid red;
    display: flex;
    width: fit-content;
}

/* telefono */
@media only screen and (max-width: 480px) and (min-width: 320px){
    .message {
        width: 70vw;
    }
}

/* ipad */
@media only screen and (max-width: 768px) and (min-width: 481px){
    .message {
        width: 60vw;
    }
}

/* pc */
@media only screen  and (min-width: 769px) {
    .message {
        width: 360px;
    }
}


.post {
    border: solid #4d4d4d;
    width: fit-content;
    min-width: fit-content;
    margin: 24px;
    padding: 24px;
}

/* profile picture */

.profilePicture {
    width: 3em;
    height: 3em;
    padding: 0;
    margin: 0;
    border-radius: 100%;
}

.containerOfPic {
    display: flex;
    width: fit-content;
    height: fit-content;
}

/* Names */

.profileName {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.destinationName {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.containerOfNames {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 0.8em;
}

/* image and names */
.imageAndNames {
    display: flex;
    flex-direction: row;
}

/* title */
.containerOfTitle {

}

/* Hours */
.hours {
    font-size: 0.8em;
    width: fit-content;
    height: fit-content;
}

.containerOfHours {
    display: flex;
    align-items: center;
}



.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}