<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>


<%# Top NavBar %>
<nav class="navbar navbar-light bg-dark d-flex fixed-top" style="height: 9vh;">
    <a class="navbar-brand text-white ml-3" href="#">SquealerMod</a>
    <button class="btn btn-outline-danger btn-light ml-auto " onclick="window.location.href='/logout'">Logout</button>
</nav>


<%# SideBar %>
<div class="d-flex flex-column flex-shrink-1 mt-5 p-3 text-white bg-dark" style="width: 20vw; height:100vh; position: fixed">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                Utenti
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                Post
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                Canali Privati
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                Canali pubblici
            </a>
        </li>
    </ul>
</div>

<div style="padding-top: 10vh; padding-left: 21vw">
    Qui inizia il DIV
</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">

</script>