<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mod.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <title>Squealer</title>
</head>
<body class="d-flex flex-column">

<!-- NavBar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top fontcustom" style="height: 10%">
    <div class="container-fluid" >
        <a class="navbar-brand" style="font-size: 3vh" href="/mod">SquealerMOD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="navbar-collapse collapse dual-collapse2" style="flex-basis: 100%">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/mod/users">Utenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/mod/posts">Posts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Channels
                    </a>
                    <ul class="dropdown-menu fontcustom">
                        <li><a class="dropdown-item" href="/mod/officialChannels">Official Channels</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/mod/userChannels">Private Channels</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text text-white ms-auto me-2 fontcustom" >@<span id="session-user">${user}</span></span>
            <button class="btn btn-outline-light bg-accent fontcustom" onclick="window.location.href = '/logout'">Logout</button>
        </div>
    </div>
</nav>




<div class="d-flex flex-column">

    <div class="p-3 flex-column" id="div1" style="height: 100%; width: 100%">

        <div class="d-flex flex-row flex-wrap align-items-center p-3 pe-0">
            <div class="input-group border-black d-flex flex-row flex-nowrap" style="width: 50vh">
                <span class="input-group-text bg-primary border-black" id="basic-addon1"><select class="select btn fontcustom" id='search-type' autocomplete="off">
                        <option value="sender" selected>Mittente</option>
                        <option value="receiver">Destinatario</option>
                    </select></span>
                <label for="filter" class="sr-only"></label><input class="form-control border-black bg-secondary fontcustom" id="filter" type="text" placeholder="Cerca.." autocomplete="off">
            </div>


            <div class="d-flex flex-row flex-wrap ms-auto">
                <div id="channel-visual" class="btn-group ms-3" role="group" aria-label="">
                    <input type="radio" class="btn-check" name="filters" id="filter-all" value="" autocomplete="off" checked>
                    <label class="btn bg-secondary fontcustom" for="filter-all">All</label>

                    <input type="radio" class="btn-check" name="filters" id="filter-popular" value="popular" autocomplete="off">
                    <label class="btn bg-secondary fontcustom" for="filter-popular">Popular</label>

                    <input type="radio" class="btn-check" name="filters" id="filter-unpopular" value="unpopular" autocomplete="off">
                    <label class="btn bg-secondary fontcustom" for="filter-unpopular">Unpopular</label>

                    <input type="radio" class="btn-check" name="filters" id="filter-controversial" value="controversial" autocomplete="off">
                    <label class="btn bg-secondary fontcustom" for="filter-controversial">Controversial</label>
                </div>

                <div class="ms-3 d-flex flex-row flex-wrap justify-content-center align-self-center">
                    <label class="fw-normal">
                        <select class="select btn bg-secondary ms-2 fontcustom" id="orderby" autocomplete="off">
                            <option value="" disabled>Ordinamento</option>
                            <option value="publication" selected>Data di pubblicazione</option>
                            <option value="visuals">Numero di visualizzazioni</option>
                        </select>
                    </label>
                </div>
                <div class="ms-3 d-flex flex-row flex-wrap justify-content-center align-self-center me-2" id="options">
                    <label for="order"></label>
                    <select class="select btn bg-secondary fontcustom" id="order" autocomplete="off">
                        <option value="" disabled >Ordine</option>
                        <option value="più recente" selected>Piu' recenti</option>
                        <option value="meno recente">Meno recenti</option>
                    </select>
                </div>
        </div>
        </div>

        <div id="posts" class="d-flex flex-column align-items-center">
        </div>

        <div id="under_posts" class="d-flex align-items-center mt-5">
        </div>
    </div>
</div>

<div class="modal fade" id="changeReactions" tabindex="-1" aria-labelledby="changeReactionsModal" aria-hidden="true" style="top:25%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 fw-bold">Aggiungi reazioni</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="changeReactionsForm">
            <div class="modal-body d-flex flex-row">
                <div class="d-flex flex-column align-items-center">
                    <label for="heart" class="form-label w-75"> <i class="bi bi-heart-fill"></i> Heart
                        <input type="number" class="form-control" name="heart" id="heart" min="0" value="0">
                    </label>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <label for="heartbreak" class="form-label w-75"> <i class="bi bi-heartbreak"></i> Heartbreak
                        <input type="number" class="form-control" name="heartbreak" id="heartbreak" min="0" value="0">
                    </label>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <label for="thumbs-up" class="form-label w-75"> <i class="bi bi-hand-thumbs-up-fill"></i> Thumbs-Up
                        <input type="number" class="form-control" name="thumbs-up" id="thumbs-up" min="0" value="0">
                    </label>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <label for="thumbs-down" class="form-label w-75"> <i class="bi bi-hand-thumbs-down"></i> Thumbs-Down
                        <input type="number" class="form-control" name="thumbs-down" id="thumbs-down" min="0" value="0">
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="submit" class="btn bg-primary" id="changeReactionsButton">Modifica</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="changeDestination" tabindex="-1" aria-labelledby="changeDestinationModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 fw-bold">Aggiungi destinatario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addDestinationForm">
            <div class="modal-body d-flex flex-column">
                <div>
                    <select id="type-select" class="form-select" aria-label="Post type select" autocomplete="off" required>
                        <option value="user" selected>Utente</option>
                        <option value="channel">Canale</option>
                        <option value="official">Canale Ufficiale</option>
                    </select>
                </div>

                <div class="form-group d-flex align-items-center flex-column">
                    <div id="content" class="mt-2" style="width: 100%">
                        <label for="destination-name" class="form-label w-100" style>
                            <textarea class="form-control" name="destination-name" id="destination-name" rows="1" placeholder="Inserisci nome della destinazione" style="resize: none" data-role="none" autocomplete="off" required></textarea>
                        </label>
                    </div>
                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn bg-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="submit" id="addDestinationButton" class="btn bg-primary">Inserisci</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="postReplies" tabindex="-1" aria-labelledby="postRepliesModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 fw-bold">Risposte</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column bg-secondary rounded">
                <div id="replies" class="d-flex flex-column align-items-center">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="toast-container position-fixed top-0 end-0 p-3">
    <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toast-content">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/posts.js"></script>
<script src="/js/map.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

