<!DOCTYPE html>
<html>
<head>
    <title>Homepage Squealer</title>
    <link rel="icon" href="/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="/css/style.css" rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="">
    <div class="d-flex flex-column align-items-center justify-content-center justify-content-sm-start w-100 h-100">
        <div class="container-title">
            <div class="logo-container-mobile">
                <img src="/img/logo.png" alt="logo" class="img-fluid">
            </div>
            <h1 class="text-center m-0 titleSize">Squealer</h1>
        </div>
        <div class="container-img-and-form">
            <div class="logo-container">
                <img src="/img/logo.png" alt="logo" class="img-fluid">
            </div>
            <div class="container-form">
                <form class="form" id="login-form">
                    <h2 class="text-center fs-login">Login</h2>
                    <div class="form-input">
                        <input class="input-text" type="text" placeholder="Utente" name="user" required>
                        <input class="input-text" type="password" placeholder="Password" name="password" required>
                    </div>
                    <span id="error" class="error" style="color: #ea0000 !important;"></span>
                    <div class="form-input">
                        <button class="button bg-primary" type="submit" name="login">Entra!</button>
                        <a type="button" id="password_recovery" class="button-underlined link">Password dimenticata</a>
                    </div>
                    <div class="form-input">
                        <button onclick="window.location.href='/register'" class="button btn-secondary">Crea nuovo account</button>
                        <a type="button" id="guestbutton" class="button-underlined link">Entra come ospite</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="recoveryModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">cambio password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="change_password_form">
                        <label for="recovery_username" class="form-label">Username</label>
                        <input type="text" placeholder="pippo" class="form-control mb-3" id="recovery_username">
                        <span>Quale è il nome del tuo paese natale?</span><br>
                        <input type="text" placeholder="Roma, Bologna ..." class="form-control mb-3" id="recovery_answer">
                        <label for="recovery_pass" class="form-label">Nuova password</label>
                        <input type="password" class="form-control mb-3" id="recovery_pass">
                        <label for="recovery_pass_conf" class="form-label">Conferma nuova password</label>
                        <input type="password" class="form-control mb-3" id="recovery_pass_conf">
                        <span id="message" class="mb-3"></span>
                        <hr>
                        <div class="d-flex flex-row justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                            <button type="submit" class="btn bg-primary">Cambia Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/jsFP/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
