::placeholder{
    color: white;
    opacity: 1;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

body {
    background-color: #232323;
}

.navbar {
    background-color: #232323;
}

#div1 {
    background-color: #232323;
}

th {
    background-color: steelblue !important;
}

td {
    width: 20vw;
    height: 10vh;
}

.channeldiv {
    background-color: white;
}

.channeldiv:hover {
    background-color: wheat;
    opacity: 100%;
}

#channel-description {
    font-size:15px;
    display:none
}

#description {
    font-size:15px
}

.bg-primary {
    background-color: #EA7F28 !important;
}

.bg-secondary {
    background-color: #F5DEB3 !important;
}

.bg-accent {
    background-color: #C20002;
}

.bg-back {
    background-color: #D8D6D6;
}


