::placeholder{
    color: white;
    opacity: 1;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

body {
    background-color: #232323;
}

.fontcustom {
    font-size: 2vh;
}

.navbar {
    background-color: #232323;
}

#div1 {
    background-color: #232323;
}

th {
    background-color: #F5DEB3 !important;
}

td {
    width: 20vw;
    height: 10vh;
    background-color: #D8D6D6 !important;
}

a {
    cursor:pointer;
    text-decoration: none;
}
.channeldiv {
    background-color: white;
}

#channel-description {
    font-size:15px;
    display:none
}

#description {
    font-size:15px
}

.btn-primary {
    background-color: #EA7F28;
    color: black;
    border-color: black;
}

.btn-primary:hover {
    background-color: #F5DEB3 !important;
    color: black;
    border-color: black;
}

.btn-primary:active {
    background-color: #F5DEB3 !important;
    color: black;
    border-color: black;

}

.btn-primary:focus {
    background-color: #F5DEB3 !important;
    color: black;
    border-color: black;

}


.btn-secondary {
    background-color: #F5DEB3;
    color: black;
    border: 0 !important;
}

.btn-secondary:hover {
    background-color: #C20002 !important;
    color: black;
    border-color: black;
}

.btn-secondary:active {
    background-color: #C20002 !important;
    color: black;
    border-color: black;

}

.btn-secondary:focus {
    background-color: #C20002 !important;
    color: black;
    border-color: black;

}


.bg-primary {
    background-color: #EA7F28 !important;
}

.bg-secondary {
    background-color: #F5DEB3 !important;
}

label.bg-secondary:hover {
    opacity: 50% !important;
}



.bg-accent {
    background-color: #C20002;
}

.bg-back {
    background-color: #D8D6D6;
}


